:root {
  --bg-color: #292e36;
  --colorTextWhite: #ffffff;

  /* text */
  --font-family: "Josefin Sans", serif;
  --second-family: "Cormorant Infant", sans-serif;
}
.header {
  background-color: var(--bg-color);
  height: 360px;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
}
.container-info {
  border-bottom: 2px dashed #e1b168;
}
.logo {
  margin-top: 50px;
  margin-left: 201px;
  margin-right: 201px;
  margin-bottom: 20px;
}
.phone-button {
  border: 2px solid #e1b168;
  margin-top: 67px;
  margin-left: 40px;
}
.info-button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  align-items: center;
  color: #fff;
  padding: 20px 57px;
  background-color: var(--bg-color);
}
.reservation-button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  margin-top: 67px;
  text-align: center;
  color: #fff;
  padding: 20px 57px;
  background-color: #e1b168;
}
.reservation-btn {
  background-color: #e1b168;
}
.navigation-container {
  background-color: #292e36;
  height: 82px;
  display: flex;
  border-bottom: 2px solid #e1b168;
}
.nav-list {
  display: flex;
  gap: 60px;
  margin-left: 30px;
  color: var(--colorTextWhite);
}
.nav-item:hover {
  color: #e1b168;
  transition-duration: 350ms;
}

/* main */
.hero {
  background-color: #292e36;
}
.container-hero {
  display: flex;
  justify-content: space-between;
}
.hero-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 100px;
  line-height: 110%;
  letter-spacing: 0em;
  color: var(--colorTextWhite);
}
.hero-content {
  width: 655px;
}
.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: start;
  margin-top: 26px;
  margin-bottom: 35px;
  color: #fff;
}
.hero-button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #e1b168;
  background-color: #292e36;
  border: 2px solid #e1b168;
  padding: 10px 52px;
}
.image {
  margin-top: 40px;
}
.image-hero {
  width: 595px;
  display: block;
}
/* position */

.position-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.position-item {
  max-height: 450px;
}
.position-titles {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.01em;
  margin-left: 30px;
  color: #292e36;
}
.position-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;

  margin-left: 30px;
  align-items: center;
  line-height: 150%;
  text-align: center;
  color: #555;
}

.position-img {
  width: 83px;
  height: 83px;
}
/* ---------------------- */
.delocious {
  margin-top: 65px;
  display: block;
}

.informations {
  display: block;
  position: relative;
  width: 471px;
  margin-left: 45px;
}

.informations-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #292e36;
}
.informations-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: start;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #555;
}
.data-list {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}
.data-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 294px;
}

.data-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  display: flex;
  margin-left: 33%;
  letter-spacing: 0.01em;

  color: #292e36;
}
.data-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  width: 247px;
  text-align: start;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #555;
}
.delocious-images {
  display: block;
  width: 743px;
  height: 519px;
}
.img {
  display: flex;
  margin-top: 30px;
}
.img-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: line-through;
  letter-spacing: 0.01em;

  color: #555;
}
.img-joselin {
  margin-top: 50px;
}
/* menu */
.menu {
  margin-top: 140px;
  margin-left: 40px;
  margin-right: 40px;
}
.menu-container {
  justify-content: space-between;
  display: flex;
}
.asorti {
  width: 491px;
}
.asorti-title {
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  padding-top: 5px;
  width: 60px;
}
.menu-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #292e36;
}
.asorti-titles {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  margin-top: 12px;
  text-align: start;
  margin-bottom: 13px;
  color: #292e36;
}
.asorti-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #555;
  width: 486px;
  text-align: start;
}
.asorti-img {
  display: block;
  width: 398px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.asorti-button {
  background-color: #fff;
  display: flex;
  padding: 20px 57px;
  border: 2px solid #e1b168;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #e1b168;
  align-items: start;
}
/* menu */
.starters-list {
  display: flex;
  align-items: center;
  width: 820px;
  flex-wrap: wrap;
  justify-content: center;
}
.starters-item {
  width: 818px;
}
.starters-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #292e36;
}
.starters-titles {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #292e36;
}
.starters-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #555;
}
.starters-price {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #292e36;
}
.starters-img {
  display: flex;
  align-items: center;
}
